body {
	margin: 0;
	padding: 0;
}
.main-content {
	/* padding: 4rem 2.5rem; */
}

img {
	width: 100%;
}

.navbar {
	z-index: 1;
}

.landing {
	position: relative;
	background: url('./img/minneapolis-1632077_1920.png') no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -24px;
	margin-bottom: -50px;
}

.landing-inner {
	padding-top: 80px;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card-form {
	opacity: 0.9;
}

.latest-profiles-img {
	width: 40px;
	height: 40px;
}

.form-control::placeholder {
	color: #bbb !important;
}

/* register form  */

.register-photo {
	background: #f1f7fc;
	padding: 80px 0;
}

.register-photo .image-holder {
	display: table-cell;
	width: auto;
	background: url('./img/gregory-hayes-1064818-unsplash.jpg');
	background-size: cover;
}

.register-photo .form-container {
	display: table;
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.register-photo form {
	display: table-cell;
	width: 400px;
	background-color: #ffffff;
	padding: 40px 60px;
	color: #505e6c;
}

@media (max-width: 991px) {
	.register-photo form {
		padding: 40px;
	}
}

.register-photo form h2 {
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 30px;
}

.register-photo form .form-control {
	background: #f7f9fc;
	border: none;
	border-bottom: 1px solid #dfe7f1;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	color: inherit;
	text-indent: 6px;
	height: 40px;
}

.register-photo form .form-check {
	font-size: 13px;
	line-height: 20px;
}

.register-photo form .btn-primary {
	background: #d3d9dd;
	border: none;
	border-radius: 4px;
	padding: 11px;
	box-shadow: none;
	margin-top: 35px;
	text-shadow: none;
	outline: none !important;
}

.register-photo form .btn-primary:hover,
.register-photo form .btn-primary:active {
	background: #d8e1ee;
}

.register-photo form .btn-primary:active {
	transform: translateY(1px);
}

.register-photo form .already {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #6f7a85;
	opacity: 0.9;
	text-decoration: none;
}

/* login form */

.login {
	min-height: 100vh;
	background: url('./img/gregory-hayes-1064818-unsplash.jpg');
	background-size: cover;
	position: relative;
}

.login form {
	max-width: 320px;
	width: 90%;
	background-color: #1e2833;
	padding: 40px;
	border-radius: 4px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login .illustration {
	text-align: center;
	padding: 15px 0 20px;
	font-size: 100px;
	color: #e5e8ec;
}

.login form .form-control {
	background: none;
	border: none;
	border-bottom: 1px solid #434a52;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	color: inherit;
}

.login form .btn-primary {
	background: #214a80;
	border: none;
	border-radius: 4px;
	padding: 11px;
	box-shadow: none;
	margin-top: 26px;
	text-shadow: none;
	outline: none;
}

.login form .btn-primary:hover,
.login form .btn-primary:active {
	background: #214a80;
	outline: none;
}

.login form .forgot {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #6f7a85;
	opacity: 0.9;
	text-decoration: none;
}

.login form .forgot:hover,
.login form .forgot:active {
	opacity: 1;
	text-decoration: none;
}

.login form .btn-primary:active {
	transform: translateY(1px);
}
