#createprofile-card {
	height: 100%;
	padding: 47px;
}

#profile {
	background-color: #668291;
	color: rgb(236, 241, 245);
	font-family: Roboto, sans-serif;
}

div.avatar-bg {
	background: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);
	background-position: 50% 50%;
	height: 200px;
	width: 200px;
	background-size: cover;
	border-radius: 50%;
	margin-left: calc(50% - 100px);
}

.avatar {
	margin-bottom: 2em;
	margin-top: 42px;
}
